.book-page.hidden{
    opacity: 0%;
    pointer-events: none;
}

.book-page{
    z-index: 5;
    opacity: 100%;
    transition: opacity .5s ease;
    
    background: linear-gradient(var(--clr-transparent), var(--clr-background-700) 15%);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    margin: 2em 2em 0;
    padding: 1em;

    border-radius: 1em 1em 0 0;

    border: 3px dashed var(--clr-background-300);
    border-top: unset;
    border-bottom: unset;

    display: flex;
    flex-direction: column;

    img{
    }
}

