.tick{
    display: flex;
    align-items: center;
    border-radius: 100em;
    transition: border-color 200ms ease;
    margin: .3rem;

    transition: box-shadow 200ms ease;
    .category{
        padding: 0 .5rem 0 .2rem;
        cursor: default;
    }
}

.tick:hover{
    box-shadow: 0 0 3rem -5px var(--clr-background-300);
}

/* #region Book component */

.book:hover{
    background-color: var(--clr-background-700);
    box-shadow: 0 0 12px 1px var(--clr-background-300);
}

.book{
    background-color: var(--clr-background-500);
    transition: background-color 200ms ease, box-shadow 200ms ease;
    position: relative;

    .book-description{cursor: auto;}
    
    img,
    .book-title,
    .book-author{
        cursor: pointer;
        transition: text-decoration-color .2s ease;
        text-decoration-color: transparent;
    }

    .book-title:hover,
    .book-author:hover{
        text-decoration: underline;
    }
}

@keyframes favorite-fill {
    from {font-variation-settings: 'FILL' 0;}
    to {font-variation-settings: 'FILL' 1;}
}
.favorite-icon{
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-duration: .25s;
}
.favorite-icon.enabled{
    animation-direction:alternate;
    animation-name: favorite-fill;
}

/* #endregion */