.menu{
    background-color: var(--clr-transparent);
    color: var(--clr-primary);

    margin: 0 0 1rem;
    border-radius: 1rem;
    padding: 1rem;

    display: grid;
    grid-gap: 1rem 0;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;

    grid-template-areas: 
    "tags   filter-icon"
    "search search-icon";

    input{
        all: unset;
        text-align: end;
        padding: 0 1rem;
        width: 100%;
    }
    
    font-size: var(--text-size-1);
    .material-symbols-outlined{
        font-size: 1.6rem;
        padding: .3rem;
    }
    .menu-icon{
        display: flex;
        justify-content: center;
        align-items: center;

        background-color:var(--clr-transparent);
        border-radius: .5rem;
    }
}

.layout-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
