.menu-section{
    position: relative;
    display: grid;
    padding: 1.5rem;
    grid-template-columns: auto 75px;
    grid-template-rows: auto 1fr auto auto;
    overflow: hidden;
    background-image: url(https://cdn.discordapp.com/attachments/1058068137783865465/1059130178493747251/Geezmo_Illustration_of_vegetation_growing_out_of_books_lying_do_ed0f41a0-ca1d-410d-9866-f0c9043bcaa2.png);
    background-position: 50% 30%;
    background-size: 102%;

    aspect-ratio: 3/2;

    .background{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.876))
    }
    & *:not(.background){
        z-index: 1;
    }

    .menu-button{
        align-self: center;
        font-size: 2rem;
        transform: scaleX(120%);
        justify-self: start;        
    }

    .settings{
        align-self: center;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        *{font-size: 1.2rem;}
    }

    .description{
        display: flex;
        align-self: flex-end;
        gap: 1rem;
        opacity: 50%;
        grid-row: 4;
    }

    .profile{
        border-radius: 50%;
        background: linear-gradient(-45deg, var(--clr-bgr-300), var(--clr-bgr-400));
        grid-row: 3 / 5;
        aspect-ratio: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        * {
            border-radius: 50%;
            background-color: var(--clr-bgr-100);
            width: 90%;
            aspect-ratio: 1;
        }
    }

    .logo{
        font-size: 2rem;
        align-self: flex-end;
        letter-spacing: 3px;
        font-family:'Times New Roman', Times, serif;
        grid-row: 3;
    }
}

@media (min-width: 500px) {
    .menu-section{
        border-radius: 3rem 3rem 0 0;
    }
}
