.menu-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    position: relative;
    padding: 1.5rem;
    overflow: hidden;

    background-image: url(https://cdn.discordapp.com/attachments/1058068137783865465/1059130178493747251/Geezmo_Illustration_of_vegetation_growing_out_of_books_lying_do_ed0f41a0-ca1d-410d-9866-f0c9043bcaa2.png);
    background-position: 50% 30%;
    background-size: 102%;

    aspect-ratio: 3/2;

    .background{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.876))
    }
    & *:not(.background){
        z-index: 1;
    }

    .menu-button{
        display: flex;
        padding: 8px;
        border-radius: 50%;
        aspect-ratio: 1;
        cursor: pointer;
        background-color: var(--clr-bgr-200);

        span{
            transform: scaleX(130%);
            font-size: 1.2rem;
        }

        transition: transform .2s ease, background-color .4s .3s ease;
        &:hover{
            transform: scale(120%);
        }

        &.enabled{
            transition: transform .2s ease, background-color .2s ease;
            background-color: var(--clr-bgr-100);
        }
    }

    .logo{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        font-size: 2rem;
        letter-spacing: 3px;
        font-family:'Times New Roman', Times, serif;
        grid-row: 1;
        .description{
            font-size: 2.6vw;
            opacity: 60%;
        }
    }

    .settings{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 8px;
        //backdrop-filter: blur(10px);
        border-radius: calc(1rem - 8px);

        background-image: url('https://cdn.discordapp.com/attachments/1058068137783865465/1059420079361634324/Geezmo_Autumn_orange_color_backdrop._Empty_center._Leaves_in_th_9507c91f-721d-4067-adf6-d9d78023d3d9.png');
        background-size: 102%;
        background-position: center;

        clip-path: circle(0% at calc(100% - 2.15rem) calc(100% - 2.15rem));
        transition: clip-path .8s ease;
        pointer-events: none;

        &.enabled{
            clip-path: circle(150% at bottom right);
            pointer-events: all;
        }
    }

    .logo-title, .menu-button{
        z-index: 2;
    }
}
