body{
    display: flex;
    justify-content: center;
    min-height: 100vh;

    color: white;
    
    .menu-section{transition: box-shadow 1s ease;}
    &.menu-opened .menu-section{
        box-shadow: 0 0 12rem 1rem var(--clr-acc-100);
    }
    &>.background{
        display: none;
        position:fixed;
        height: 200vh;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(var(--clr-bgr-300), var(--clr-bgr-200), var(--clr-bgr-100) 110vh);
    }
}

#root{
    position: relative;
    width: 100%;
    flex-grow: 1;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
}

.shadow{
    box-shadow: .3rem .7rem 4rem 4px rgba(0, 0, 0, 0.4);
}

.gap{
    height: 5px;
    background: linear-gradient(-90deg, var(--clr-acc-100), var(--clr-acc-200), var(--clr-acc-100));
    filter: brightness(120%);
}

@media (min-width: 600px) {
    #root{
        margin: 20vh 1rem;
        border-radius: 3rem;
    }

    .gap{
        margin: 5px;
        border-radius: 2rem;
    }

    .collection-section{
        border-radius: .5rem .5rem 3rem 3rem;
    }

    .menu-section{
        border-radius: 1rem 1rem .5rem .5rem;
        .logo .description {font-size: 1.1rem !important;}
    }

    body>.background{display: block;}
}