body{
    display: flex;
    justify-content: center;
    min-height: 100vh;

    margin-top: var(--page-vertical-offset);
}

#root{
    width: 100%;
    max-width: 1500px;
    padding: 1rem;

    section>*{
        margin-bottom: 1rem;
    }
}

.layout-list{
    display: flex;
    flex-direction: column;

    >*{
        margin-bottom: 1rem;
    }
}
