body{
    display: flex;
    justify-content: center;
}

#root{
    width: 100%;
    max-width: 1500px;
    padding: 1rem;
}


/* #region TOP-BAR */

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .logo{
    height: calc(4vw + 30px);
    fill: var(--clr-background-300);
}

.top-bar .config-buttons{
    display: flex;
    justify-content: space-between;
    width: 110px;
}

/* #endregion */



/* #region FILTERING */

.filtering{
    display: flex;
    flex-direction: column;
}

/* ----SEARCH---- */

.filtering .search-input{
    display: flex;
    align-items: center;
}

.filtering .search-input .search-icon{

}

.filtering .search-input .search-text{
    margin-left: 1em;
    flex-grow: 1;
}


/* ----CATEGORY---- */

.filtering .category-input{
    display: flex;
    align-items: flex-start;
}

.filtering .category-input .category-list{
    display: flex;
    flex-flow: row wrap;
    margin-left: 1em;
}

/* #endregion */



/* #region RESULTS */

.results{overflow: hidden;}
.results>*{
    overflow: hidden;
}

.results.layout-grid{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.results.layout-list{
    display: flex;
    flex-direction: column;
}
.results.layout-list>*{
    margin-bottom: 1rem;
    height: 300px;
}

@media (min-width: 500px) {
    .results.layout-grid{
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
}

/* ----BOOK FAVORITE-ICON----  */
@keyframes favorite-fill {
    from {font-variation-settings: 'FILL' 0;}
    to {font-variation-settings: 'FILL' 1;}
}

.favorite{
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-duration: .25s;
}
.favorite.enabled{
    animation-direction:alternate;
    animation-name: favorite-fill;
}

/* #endregion */
