body{
    display: flex;
    justify-content: center;
    min-height: 100vh;

    color: white;
}

#root{
    width: 100%;
    flex-grow: 1;
    max-width: 1500px;
    background-color: var(--clr-bgr-100);
    padding: 1.5rem;
}

.shadow{
    box-shadow: .3rem .7rem 2rem 4px rgba(0, 0, 0, 0.567);
}