:root{
    --clr-bgr-400: #75c6bb;
    --clr-bgr-300: #67b1b5;
    --clr-bgr-200: #296066;
    --clr-bgr-100: #202b2c;

    --clr-acc-200: #dc906f;
    --clr-acc-100: #be4622;

    --var-border-radius: 1rem;
}

[data-theme='dark']{
}