.layout-grid{
    .book{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
    }

    img{
        width: 100%;
    }

    hr, .book-description{display: none;}
}