.layout-list{
    .book{
        padding: 1rem;
        border-radius: 1rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: auto auto 1fr;

        grid-template-areas: 
        "image title title"
        "image tools descr";

        &:hover {background-color: var(--clr-background-500);}

        @media (max-width: 430px) {
            grid-template-rows: 1fr auto;
            grid-template-areas:
            "image title"
            "image tools";
            
            .book-title-author{display: unset;}
            .book-description{display: none;}
            .book-icons{flex-direction: row;}
        }
    }
    img{grid-area: image;}
    .book-title{grid-area: title;}
    .book-title-author{grid-area: title}
    .book-description{grid-area: descr;}
    .book-icons{grid-area: tools;}

    .book-title-author{
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, var(--clr-background-700), transparent);
        border-radius: .5em;
        padding: 1em;
    }
    .book-title{
        font-size: max(min(5.5vw, 2rem), 1.2rem);
    }
    .book-author{
        font-style: italic;
    }
    .book-icons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .book-icons *{
        box-shadow: 0 0 35px -4px var(--clr-background-300);
        padding: .5rem;
        margin: .2rem;
        border-radius: .75rem;
    }

    .book-description{
        padding: .5rem;
        border-radius: .5rem;

        max-width: 500px;
        max-height: 200px;
        text-align: justify;
        text-justify: distribute;

        overflow: hidden;

        position: relative;
        *{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, var(--clr-background-700), transparent 5rem);

            transition: opacity 300ms ease;
        }

        &:hover *{opacity: 60%;}
    }

    img{
        z-index: 1;
        width: 28vw;
        max-width: 200px;
        border-radius: .5rem;
    }
}